<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unicom.api.cterminal.dao.RoleMenuDao" >

    <insert id="saveRoleMenu" parameterType="java.util.List">
        insert into sys_role_menu(role_id,menu_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.role_id},#{item.menu_id})
        </foreach>
    </insert>

    <!-- 批量删除 -->
    <delete id="deleteIdS"  parameterType="int">
        delete from sys_role_menu where role_id in
        <foreach collection="array" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>